<h1>Merchants Index</h1>

<div class="top-five-merchants">
  <h4>Top 5 Merchants </h4>
  <ol>
  <% @merchants.top_five.each do |merchant| %>
  <li><%= link_to merchant.name, admin_merchant_path(merchant) %>
  <%= "Total revenue: #{number_to_currency(merchant.tot_revenue / 100)}" %>
  <%# <%= "Top selling date for #{merchant.name} was #{merchant.best_day}"%>%></li> 
  <% end %>
  </ol>
  </div>

<p><%= link_to 'Create New Merchant', new_admin_merchant_path %>

<div class="disabled_merchants">
  <h4>Disabled Merchants</h4>
  <% @merchants.disabled.each do |merchant| %>
    <%= render partial: 'merchant_partial', locals: { merchant: merchant } %>
  <% end %>
</div>

<div class="enabled_merchants">
  <h4>Enabled Merchants</h4>
  <% @merchants.enabled.each do |merchant| %>
    <%= render partial: 'merchant_partial', locals: { merchant: merchant } %>
  <% end %>
</div>


