<%= render partial: '/merchants/header', locals: {merchant: @merchant.name} %>

<h3><b>Invoice #<%= @invoice.id %></b></h3>

<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.created_at.strftime("%B/%d/%Y") %>

<h4>Customer:</h4>
<p><%= @invoice.customer.full_name %></p>

<h4>Items on this Invoice:</h4>

<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
  <% @merchant.invoice_items_data(@invoice.id).each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.sold_price %></td>
      <td><%= item.invitm_status %></td>
    </tr>
  <% end %>
</table>
  