<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<%= render partial: '/merchants/header', locals: {merchant: @merchant.name, merchant_id: @merchant.id} %>

<h3><b>Invoice #<%= @invoice.id %></b></h3>

<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.created_at.strftime("%B/%d/%Y") %>

<p>Total Revenue: <%= number_to_currency(@merchant.inv_total_rev(@invoice.id)/100) %><p>
<p>Total Revenue With Discounts: <%= number_to_currency(@invoice.inv_total_rev_discs(@merchant.id)/100) %><p>

<h4>Customer:</h4>
<p><%= @invoice.customer.full_name %></p>

<h4>Items on this Invoice:</h4>

<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
  <% @merchant.invoice_items_data(@invoice.id).each do |invitm| %>
    <tr id="item_<%= invitm.id %>" >
      <td><%= invitm.name %></td>
      <td><%= invitm.quantity %></td>
      <td><%= invitm.unit_price %></td>
      <td id='invitm'><%= form_with model: [@merchant, invitm], local: true do |f| %>
        <%= f.label :status, hidden: true%>
        <%= f.select :status, ['packaged', 'pending', 'shipped'], selected: invitm.status %>
        <%= f.submit "Update Item Status" %>
        <% end %>
        </td>
    </tr>
  <% end %>
</table>
  