<h1> Merchant Dashboard Page </h1>
<%= @merchant.name %>
<%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
<%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>

<h3>Favorite Customers</h3>
<ol>
<% @merchant.top_5_customers.each do |customer| %>
  <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.transaction_count %> purchases</li>
<% end %>
</ol>