<style>
#fav_customers {
  float: right;
}

h3 {
  background: lightgray;
}
</style>

<%= render partial: '/merchants/header', locals: {merchant: @merchant.name, merchant_id: @merchant} %>

<section id='fav_customers'>
<h3>Favorite Customers</h3>
<ol>
<% @merchant.top_5_customers.each do |customer| %>
  <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.transaction_count %> purchases</li>
<% end %>
</ol>
</section>

<h3>Items Ready To Ship</h3>
<% @merchant.items_ready_to_ship.each do |item| %>
  <p><%= item.name %> - Invoice #<%= link_to item.invoice_id, merchant_invoice_path(@merchant.id, item.invoice_id) %> - <%= item.invoice_creation.strftime("%A %B %d %Y") %></p>
<% end %>