<%= render partial: '/merchants/header', locals: {merchant: @merchant.name} %>

<h3><b>My Items</b></h3>

<h4><%= link_to 'New Item', new_merchant_item_path(@merchant)%></h4>

<h3>Enabled Items</h3>
  <% @merchant.enabled_items.each do |item| %>
    <%= render partial: 'enable_disable', 
      locals: {item_id: item.id, 
      item_name: item.name, 
      model: [@merchant, item], 
      value: 'disabled', 
      button_text: 'Disable', 
      link: merchant_item_path(@merchant, item)} 
    %>
  <% end %>


<h3>Disabled Items</h3>
  <% @merchant.disabled_items.each do |item| %>
    <%= render partial: 'enable_disable', 
      locals: {item_id: item.id, 
      item_name: item.name, 
      model: [@merchant, item], 
      value: 'enabled', 
      button_text: 'Enable', 
      link: merchant_item_path(@merchant, item)} 
    %>
  <% end %>


<h3>Top Items</h3>
<div id="top_items">
<ol>
<% @merchant.top_five_items.each do |item| %>
  <div id="top_item_<%= item.id %>">
    <li><%= item.name %> - <%= number_to_currency(item.tot_revenue/100) %> in sales</li>
  </div>
<% end %>
</ol>
</div>