<!DOCTYPE html>
<html>
  <head>
  <figure><img src="<%= Logo.project_logo.image_url %>">
  <figcaption><%= "#{Logo.project_logo.likes} likes" %></figcaption></figure>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
